body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: #eee;
    width: 650px;
    margin: 50px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 150px);
}

.items1{
    background-color: orangered;
}

.items2{
    background-color: yellowgreen;
}

.items3{
    background-color: slateblue;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr;
   
    
}

.items3 > div{
    background-color: #fff;
    color: red;
    padding: 
    10px;
    
    
}

.items4{
    background-color: hotpink;
}

